@{
    ViewData["Title"] = "Zadanie 2";
}

<h1 class="tytul">Zgadnij jaka to liczba!</h1>
<p></p>
<h4><center>@ViewBag.zakres</center></h4>
<h2><center>@ViewBag.info </center></h2>
<p></p>
<h3><center>@ViewBag.proby</center></h3>